In [1]:
import pandas as pd
import numpy as np

In [2]:
num_players = 5
deck_df = pd.read_csv('deck.csv')
# Initialize empty dictionary to store player hands
player_hands = {i: [] for i in range(num_players)}
# Initialize empty dictionary to store table cards (5 slots)
table_cards = {i: [] for i in range(5)}

In [3]:
table_cards

{0: [], 1: [], 2: [], 3: [], 4: []}

In [4]:
player_hands

{0: [], 1: [], 2: [], 3: [], 4: []}

In [5]:
def deck_shuffler(deck_df):
    shuffled_df = deck_df.copy()
    shuffled_df = shuffled_df.iloc[np.random.permutation(len(shuffled_df))]
    return shuffled_df

def initial_deal(shuffled_df, player_hands):
    # Deal 2 cards to each player
    for card_num in range(2):  # Deal 2 rounds
        for player in player_hands.keys():  # Deal to each player
            # Get the next card (first row of shuffled deck)
            card = shuffled_df.iloc[player + (card_num * len(player_hands))]
            # Add card to player's hand as [suit, rank] list
            player_hands[player].append([card['suit'], card['rank']])
    
    # Remove dealt cards from the deck (2 cards * number of players)
    remaining_deck = shuffled_df.iloc[2 * len(player_hands):].reset_index(drop=True)
    
    return player_hands, remaining_deck


def burn_card(remaining_deck):
    # Burn one card from the remaining deck
    burned_card = remaining_deck.iloc[0]
    remaining_deck = remaining_deck.iloc[1:].reset_index(drop=True)
    return remaining_deck

def deal_flop(remaining_deck, table_cards):
    # Deal 3 cards to the table
    for i in range(3):
        card = remaining_deck.iloc[0]
        # Add card to table as [suit, rank] list, similar to player hands
        table_cards[i] = [card['suit'], card['rank']]
        remaining_deck = remaining_deck.iloc[1:].reset_index(drop=True)
    return table_cards, remaining_deck

def deal_turn(remaining_deck, table_cards):
    # Deal 1 card to the table in position 3
    card = remaining_deck.iloc[0]
    # Add card to table as [suit, rank] list
    table_cards[3] = [card['suit'], card['rank']]
    remaining_deck = remaining_deck.iloc[1:].reset_index(drop=True)
    return table_cards, remaining_deck

def deal_river(remaining_deck, table_cards):
    # Deal 1 card to the table in position 4
    card = remaining_deck.iloc[0]
    # Add card to table as [suit, rank] list
    table_cards[4] = [card['suit'], card['rank']]
    remaining_deck = remaining_deck.iloc[1:].reset_index(drop=True)
    return table_cards, remaining_deck

In [6]:
# Shuffle the deck
shuffled_df = deck_shuffler(deck_df)
player_hands, remaining_deck = initial_deal(shuffled_df, player_hands)
remaining_deck = burn_card(remaining_deck)
table_cards, remaining_deck = deal_flop(remaining_deck, table_cards)
remaining_deck = burn_card(remaining_deck)
table_cards, remaining_deck = deal_turn(remaining_deck, table_cards)
remaining_deck = burn_card(remaining_deck)
table_cards, remaining_deck = deal_river(remaining_deck, table_cards)

In [7]:
table_cards

{0: ['diamonds', '3'],
 1: ['clubs', 'jack'],
 2: ['hearts', '7'],
 3: ['hearts', 'queen'],
 4: []}

In [8]:
remaining_deck

        suit   rank
0     hearts   king
1   diamonds   jack
2   diamonds      4
3     hearts   jack
4     spades      3
5     spades   king
6     spades      9
7     spades    ace
8      clubs      6
9     spades  queen
10     clubs      7
11     clubs    ace
12    spades      6
13  diamonds      9
14    spades      7
15    hearts      8
16  diamonds    ace
17  diamonds      7
18  diamonds   king
19    hearts    ace
20  diamonds      5
21    spades      4
22    spades      8
23     clubs      5
24    hearts      6
25    spades      5
26    spades   jack
27    hearts      3
28     clubs     10
29    hearts      2
30    hearts      9
31     clubs      4
32  diamonds  queen
33  diamonds     10
34     clubs      3
35    hearts     10

In [9]:
player_hands

{0: [['spades', '10'], ['clubs', 'king']],
 1: [['clubs', '2'], ['hearts', '4']],
 2: [['spades', '2'], ['clubs', 'queen']],
 3: [['clubs', '9'], ['diamonds', '6']],
 4: [['diamonds', '8'], ['diamonds', '2']]}

In [10]:
remaining_deck

        suit   rank
0     hearts   king
1   diamonds   jack
2   diamonds      4
3     hearts   jack
4     spades      3
5     spades   king
6     spades      9
7     spades    ace
8      clubs      6
9     spades  queen
10     clubs      7
11     clubs    ace
12    spades      6
13  diamonds      9
14    spades      7
15    hearts      8
16  diamonds    ace
17  diamonds      7
18  diamonds   king
19    hearts    ace
20  diamonds      5
21    spades      4
22    spades      8
23     clubs      5
24    hearts      6
25    spades      5
26    spades   jack
27    hearts      3
28     clubs     10
29    hearts      2
30    hearts      9
31     clubs      4
32  diamonds  queen
33  diamonds     10
34     clubs      3
35    hearts     10

In [11]:
player_hands

{0: [['spades', '10'], ['clubs', 'king']],
 1: [['clubs', '2'], ['hearts', '4']],
 2: [['spades', '2'], ['clubs', 'queen']],
 3: [['clubs', '9'], ['diamonds', '6']],
 4: [['diamonds', '8'], ['diamonds', '2']]}

In [12]:
shuffled_df

        suit   rank
47    spades     10
26     clubs      2
39    spades      2
33     clubs      9
19  diamonds      8
37     clubs   king
2     hearts      4
36     clubs  queen
17  diamonds      6
13  diamonds      2
3     hearts      5
14  diamonds      3
35     clubs   jack
5     hearts      7
32     clubs      8
10    hearts  queen
11    hearts   king
22  diamonds   jack
15  diamonds      4
9     hearts   jack
40    spades      3
50    spades   king
46    spades      9
51    spades    ace
30     clubs      6
49    spades  queen
31     clubs      7
38     clubs    ace
43    spades      6
20  diamonds      9
44    spades      7
6     hearts      8
25  diamonds    ace
18  diamonds      7
24  diamonds   king
12    hearts    ace
16  diamonds      5
41    spades      4
45    spades      8
29     clubs      5
4     hearts      6
42    spades      5
48    spades   jack
1     hearts      3
34     clubs     10
0     hearts      2
7     hearts      9
28     clubs      4
23  diamonds  queen
21  diamonds     10
27     clubs      3
8     hearts     10